#homeComponent {

  .card-content-guilds {

    display: flex;
    flex-direction: column;

    .card-content-guild {
      display: flex;
      margin: 0 0 10px 0;

      .guild-image {
        outline: 2px solid rgba(187, 186, 184, 0.5294117647);
        border-radius: 100px;
        padding: 10px 10px;
        margin: 0px 15px 0 0;
        align-items: center;
        width: 60px;
        height: 60px;
      }

      .guild-image-column {
        margin: 10px 0px;
      }

      .guild-image-title {
        color: #2C3039;
        font-size: 14px;
        font-weight: 500;
      }

      .guild-image-description {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
      }
    }
  }

  .card-content-rooms {
    display: flex;
    flex-direction: column;

    .card-content-room {
      display: flex;
      margin: 0 0 10px 0;

      .room-image {
        background: url(/src/assets/images/web/collider/default-room-image.png) center;
        border-radius: 5px;
        margin: 0 20px 0 0;
        height: 50px;
        width: 50px;
      }

      .room-column {
        display: flex;
        flex-direction: column;

        .room-owner {
          display: flex;
          align-items: center;
          margin: 10px 0 0 0;

          .username {
            background-color: #f0f0f0;
            color: #2C3039;
            font-size: 12px;
            font-weight: 500;
            margin: 0 0 0 -10px;
            padding: 6px 10px 5px 6px;
            border-radius: 3px;
          }

          .head-figure {
            background-position: center;
            background-repeat: no-repeat;
            background-color: #f0f0f0;
            border-radius: 100px;
            height: 42px;
            width: 42px;
            padding: 6px;
          }
        }

        .room-title {
          color: #2C3039;
          font-size: 14px;
          font-weight: 500;
        }

        .room-title a {
          text-decoration: underline;
        }

        .room-description {
          color: #4E4E4E;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  }

  .card-image:hover {
    background-position: 350px 220px !important;
  }

  .badge {
    align-items: center;
    background: #f4f4f4;
    border: 1px solid rgba(0, 0, 0, .04);
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    -moz-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    -o-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    -webkit-box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    display: inline-flex;
    height: 47px;
    justify-content: center;
    margin-bottom: 5px;
    margin-right: 12px;
    margin-top: 0;
    padding: 5px;
    text-align: center;
    transition: background .8s ease;
    vertical-align: middle;
    width: 47px;
  }


  .photo-content {
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background-color: #fff;
    margin: 20px 0 auto;
    position: sticky;
    overflow: hidden;
    width: 158px;
    height: 158px;
  }

  .inner-photo {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    display: block;
  }

  .bottom-bar {
    opacity: 0;
    height: 30px;
    background-color: #ffffffb0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    transition: visibility 0s, opacity 0.2s linear;
  }

  .inner-photo:hover .bottom-bar {
    visibility: visible;
    opacity: 1;
  }
}
