#hotel-container {
  background-color: #676767;
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 600;
  width: 100%;
  height: 100%;

  #game {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    border: 0;
  }

  #flash-detect {

    .flash-illustration {
      margin-top: 10em;
      margin-left: auto;
      margin-right: auto;
      width: 212px;
      height: 174px;
      background: url('../images/web/sprites.png');
    }

    .flash-title {
      position: relative;
      color: #fff;
      font-size: 310%;
      text-transform: uppercase;
    }

    .flash-description {
      color: #fff;
      font-size: 16px;
    }
  }

  #flash-detect:after {
    content: "";
    left: 18rem;
    top: 12rem;
    width: 32px;
    height: 44px;
    position: absolute;
    opacity: 1;
    -webkit-animation: pointer 1.1s cubic-bezier(.68, -.55, .27, 1.55) infinite;
    animation: pointer 1.1s cubic-bezier(.68, -.55, .27, 1.55) infinite;
    background: url('../images/web/sprites.png');
  }

  .client-buttons {

    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 100;

    button {
      display: block;
      float: left;
      padding: 7px;
      min-width: 34px;
      height: 34px;
      font-size: 12px;
      margin-right: 10px;
      line-height: normal;
      border: 1px solid #61a7cd !important;
      border-radius: 50%;
      background-color: #3c7c9b;
    }

    .rounded-button {
      padding: 8px 8px;
      display: inline-block;
      text-decoration: none;
      font-size: 22px;
      color: #fff;
      border: 2px solid #333;
      cursor: pointer;
      height: 42px;
      line-height: 21px;
      outline: none;
      text-shadow: none;
      text-align: center;
      transition: background-color 0.2s, color 0.2s;
    }

    .client-close-expand {
      float: left;
      overflow: hidden;
      width: 0;
      text-align: left;
      -webkit-transition: width .15s ease-out 0s;
      transition: width .15s ease-out 0s;
    }
  }
}

.hotel-visible #hotel-container {
  left: 0 !important;
}
