#photoComponent {

  .photo {
    background-color: #fff;
    width: 245px !important;
    padding: 3px;
    margin: 5px;

    .inner-photo {
      -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);
      background-color: #fff;
      position: sticky;
      overflow: hidden;
      height: 238px;
      width: 238px;
    }

    .bottom-bar {
      opacity: 0;
      height: 55px;
      background-color: #ffffffb0;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      transition: visibility 0s, opacity 0.2s linear;
    }

    .inner-photo:hover .bottom-bar {
      visibility: visible;
      opacity: 1;
    }

    .figure-avatar {
      width: 50px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }

    .photo-title {
      font-weight: bold;
    }

    .photo-actions {
      flex: auto;
    }
  }
}

#photoModal .modal-img {
  image-rendering: pixelated;
}

#photoModal .modal-content {
  width: 348px !important;
}

#photoModal .modal-dialog {
  max-width: 348px !important;
}
