#registrationComponent {
  .icon {

    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
    width: 30px;
    height: 30px;

    &.box-one {
      background: url(/src/assets/images/web/pages/registration/icon-box-one.png);
    }

    &.box-two {
      background: url(/src/assets/images/web/pages/registration/icon-box-two.png);
    }

    &.box-three {
      background: url(/src/assets/images/web/pages/registration/icon-box-three.png);
    }
  }

  .wrapper-item {

    width: 52px;
    height: 54px;
    margin: 0 10px 15px 0;

    &.not-active {
      background-image: url(/src/assets/images/web/pages/registration/background-figure-default.png);
    }

    &.active,
    &.active:hover,
    &.not-active:hover {
      background-image: url(/src/assets/images/web/pages/registration/background-figure-selected.png);
    }
  }

  .gender {

    display: flex;
    align-items: center;
    margin: 0 70px 0 0;

    .text {
      color: #2C3039;
      font-size: 15px;
      font-weight: 500;
      padding: 10px 0 0 30px;
    }

    &.male {

      height: 21px;
      width: 21px;

      &.active,
      &.not-active:hover {
        background-image: url(/src/assets/images/web/pages/registration/sex-male.png);
      }

      &.not-active {
        background-image: url(/src/assets/images/web/pages/registration/sex-male-off.png);
      }
    }

    &.female {

      height: 27px;
      width: 18px;

      &.active,
      &.not-active:hover {
        background-image: url(/src/assets/images/web/pages/registration/sex-female.png);
      }

      &.not-active {
        background-image: url(/src/assets/images/web/pages/registration/sex-female-off.png);
      }
    }
  }

  .look {
    width: 52px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
    margin-top: -9px;
  }
}
