.dropdown-menu {

  position: absolute !important;
  inset: 0px auto auto 0px !important;
  margin: 10px 0px 0px 2px !important;
  transform: translate(0px, 36px) !important;
  border-top: none;
  border-radius: 0;

  li {
    margin-right: 0 !important;
  }

  .dropdown-item {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    color: #424251;
    height: inherit;
    display: block;
    padding: 5px;
    border-bottom: 3px solid transparent;
    white-space: nowrap;
  }
}