.navbar-header {
  background-color: #fff !important;
  box-shadow: rgb(0 0 0 / 10%) 0px -3px 3px inset;
}

.fixed-top {
  z-index: 600 !important;
}

.btn-secondary {
  background-color: #e5e5e5;
  padding: 8px !important;
}

@media only screen and (max-width: 995px) {
  .navbar-currencies {
    display: none !important;
  }

  .navbar-header {
    height: 60px;
  }

  .navbar-toggler {
    margin: 14px;
  }

  .navbar-toggler-icon {
    background-color: #c1c1c1 !important;
  }

  .navbar-collapse {
    background-color: #fff;
    padding-bottom: 60px;
  }

  .justify-content-center {
    justify-content: normal;
  }

  .nav {
    display: block;
    flex-wrap: nowrap;
    padding: 0;
    list-style: none;
    margin-top: 50px;
  }

  .navigation .col-12 {
    flex: initial !important;
    width: fit-content !important;
  }

  .login-button,
  .dropdown {
    float: left;
    position: absolute;
  }

  .navigation .dropdown-menu {
    margin: 2px 0px 0px 2px !important;
  }

  .selected {
    border: none !important;
  }
}

.nav-dropdown {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar {
  padding: 0 !important;
}

.navigation {

  .item-nav {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    height: 50px;
    border-radius: 5px;
    padding: 0 14px;
    cursor: pointer;
    color: #000;
  }

  .user-text {
    font-weight: 500;
  }

  .btn:hover {
    color: #323232 !important;
  }

  .user-bar {

      display: flex;
      align-items: flex-start;
      margin: 0 50px 0 0;

    .item-column {
      display: flex;
      flex-direction: column;
      padding: 0 0 0 15px;
    }

    .item-text {
      color: #000;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
    }

    .item-text.bold {
      font-weight: 600;
      font-size: 13px;
    }

    .icon {

      display: block;
      height: 20px;
      width: 20px;
      border-radius: 100px;
      outline-offset: 3px;
      background-color: #f2f2f2;
      background-repeat: no-repeat;
      background-position: center;

      &.credits {
        background-image: url(/src/assets/images/web/header/credits.png);
        background-color: #e9b124;
        outline: 1px solid #b26d18;
      }

      &.duckets {
        background-image: url(/src/assets/images/web/header/duckets.png);
        background-color: #c44aac;
        outline: 1px solid #812378;
      }

      &.diamonds {
        background-image: url(/src/assets/images/web/header/diamonds.png);
        background-color: #caf1f3;
        outline: 1px solid #6caff4
      }
    }
  }

.dropdown-container {
  height: 60px;
}

  li {
    margin-right: 20px;
  }

  .selected {
    border-color: #2d759b;
    color: #2d759b;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #424251;
    height: inherit;
    display: block;
    padding: 5px;
    border-bottom: 3px solid transparent;
    white-space: nowrap;
  }

  .account-avatar {
    overflow: hidden;
    height: 64px;
    margin-top: -25px;
  }

  .dropdown-menu {

    position: absolute !important;
    inset: 0px auto auto 0px !important;
    margin: 10px 0px 0px 2px !important;
    transform: translate(0px, 36px) !important;
    border-top: none;
    border-radius: 0;

    li {
      margin-right: 0 !important;
    }

    .dropdown-item {
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      text-transform: capitalize;
      color: #424251;
      height: inherit;
      display: block;
      padding: 5px;
      border-bottom: 3px solid transparent;
      white-space: nowrap;
    }
  }
}
